# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.next
.turbo
.vite
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Editor
.vscode
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drizzle generated
apps/api/src/db/migrations/meta
apps/api/.drizzle
